.button-demo-tile {
  width: 500px;
  margin-top: 40px;
}
.button-demo-row {
  margin-bottom: 20px;
}
.button-demo-row .u-button {
  margin-right: 10px;
}
.button-demo .button-group-demo-row {
  margin-bottom: 20px;
}
